---
import BaseLayout from "../layouts/BaseLayout.astro";
import { pageMetadata } from "../lib/site";
import Hero from "../components/Hero.astro";
import DinamicaEvento from "@/components/DinamicaEvento.astro";
import Temario from "../components/Temario.astro";
import Sponsors from "../components/Sponsors.astro";
import FAQ from "../components/FAQ.astro";

export const prerender = true;
---

<BaseLayout
    title={pageMetadata.home.title}
    description={pageMetadata.home.description}
    canonical={pageMetadata.home.canonical}
>
    <div class="flex flex-1 flex-col">
        <Hero />
        <DinamicaEvento />
        <Temario />
        <Sponsors />
        <FAQ />
    </div>
</BaseLayout>
