---
import BaseLayout from "../layouts/BaseLayout.astro";
import { EVENT_NAME } from "../lib/constants";

export const prerender = true;
---

<BaseLayout title={`Fases | ${EVENT_NAME}`} description="Fases de la Copa Salvadoreña de Programación.">
    <main class="flex-1"></main>
</BaseLayout>
