---
import '../styles/global.css'
---

<section class="w-100% bg-[#455CE9] py-16">
  <h2
    class="[font-family:var(--font-poppins)] text-left text-5xl font-bold text-[#F5F5F5] pl-16">
    Dinámica del evento
  </h2>

  <div class="mt-4 w-full bg-[#455CE9] flex gap-6 p-8">
    <div class="flex-1 bg-[#F5F5F5] p-6 rounded-3xl">
      <h3
        class="[font-family:var(--font-poppins)] text-3xl font-black text-gray-900"
      >
        Fase Virtual
      </h3>
      <p
        class="[font-family:var(--font-inter)] mt-3 text-lg text-gray-600 leading-relaxed"
      >
        Se llevará a cabo el [fecha]. Tu equipo tendrá 5 horas para resolver los 4-6 problemas de la categoría a la que se hayan inscrito. Este año, ¡puedes iniciar el concurso a la hora de tu preferencia! (Dentro del rango del fin de semana)

      </p>
    </div>

    <div class="flex-1 bg-[#F5F5F5] p-6 rounded-3xl">
      <h3
        class="[font-family:var(--font-poppins)] text-3xl font-black text-gray-900"
      >
        Final Colegial
      </h3>
      <p
        class="[font-family:var(--font-inter)] mt-3 text-lg text-gray-600 leading-relaxed"
      >
        Los mejores equipos de la fase virtual colegial competirán durante 4 horas en la ESEN. Deberán obtener la mayor cantidad de puntos posibles, utilizando una sola computadora.
      </p>
    </div>

    <div class="flex-1 bg-[#F5F5F5] p-6 rounded-3xl">
      <h3
        class="[font-family:var(--font-poppins)] text-3xl font-black text-gray-900"
      >
        Final Universitaria
      </h3>
      <p
        class="[font-family:var(--font-inter)] mt-3 text-lg text-gray-600 leading-relaxed"
      >
        Los equipos del nivel más avanzado competirán en la ESEN. Al igual que en la final colegial, tendrán 4 horas para obtener la mayor cantidad de puntos, y sólo podrán usar una computadora.
      </p>
    </div>
  </div>
</section>