---
---

<header class="border-b border-csp-white/15 bg-csp-primary">
  <div class="mx-auto flex w-full max-w-4xl items-center justify-between px-4 py-2.5">
    <a class="flex items-center" href="/">
      <img
        alt="Copa Salvadorena de Programacion"
        height="24"
        src="/public/brands/csp-logo-horizontal.png"
        width="122"
      />
    </a>
  </div>
</header>