---
import { EVENT_NAME } from "../lib/constants";
---

<footer class="mt-10 border-t border-csp-white/15 bg-csp-primary">
  <div class="mx-auto flex w-full max-w-4xl flex-wrap items-center justify-between gap-3 px-4 py-4">
    <p class="text-xs text-csp-white/85">{EVENT_NAME} - 2026</p>
    <div class="flex items-center gap-3">
      <img
        alt="Logo CSP horizontal"
        height="22"
        src="/brands/csp-logo-horizontal.png"
        width="112"
      />
      <span class="text-csp-white/40">|</span>
      <img alt="Logo C3" height="20" src="/brands/c3-logo-main.png" width="20" />
    </div>
  </div>
</footer>